{% extends '::base.html.twig' %}

{% block body -%}
    <h1>SucursalesQuejas</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Queja</th>
                <td>{{ entity.queja }}</td>
            </tr>
            <tr>
                <th>Solucion</th>
                <td>{{ entity.solucion }}</td>
            </tr>
            <tr>
                <th>Nota</th>
                <td>{{ entity.nota }}</td>
            </tr>
            <tr>
                <th>Clientereportoprimero</th>
                <td>{{ entity.clienteReportoPrimero }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('sucursales_quejas') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('sucursales_quejas_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
