{% extends '::base.html.twig' %}

{% block page_sub_header %}Compras: vista de forma de pago{% endblock %}

{% block body -%}
    <table class="record_properties table table-responsive table-condensed">
        <tbody>
            <tr>
                <th>ID</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ entity.nombre }}</td>
            </tr>
            <tr>
                <th>Activo</th>
                <td>{{ entity.activo }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a class="btn btn-info" href="{{ path('compras_pagos_formas') }}">
            Regresar a la lista de formas de pago
        </a>
    </li>
    <li>
        <a class="btn btn-primary" href="{{ path('compras_pagos_formas_edit', { 'id': entity.id }) }}">
            Editar
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
