<h1>{{ titulo }}</h1>
<p>{{ mensaje }}</p>
<p>
    <a href="{{ url('compras_ordenes_ver', {orden : orden.orden.id }) }}">Ver esta orden en el sistema</a>
</p>
<hr />
<h1>Detalle de la orden</h1>
<table>
    <tbody>
        <tr>
            <th style="text-align:right;">Sucursal</th>
            <td style="width:80%">{{ orden.orden.sucursal.nombre }}</td>
        </tr>
        <tr>
            <th style="text-align:right;">Estado</th>
            <td>{{ orden.orden.estado.estado }}</td>
        </tr>
        <tr>
            <th style="text-align:right;">Ingresada por</th>
            <td>{{ orden.orden.creadoPor.nombre }}</td>
        </tr>
        <tr>
            <th style="text-align:right;">Comprador</th>
            <td>{{ orden.orden.comprador.nombre|default('Sin asignar') }}</td>
        </tr>
        <tr>
            <th style="text-align:right;">Fecha de ingreso</th>
            <td>{{ orden.orden.ingresadoDt.date }}</td>
        </tr>
    </tbody>
</table>

<h1>Detalle de compra</h1>
<ul>
    {% set ultimoTitulo = '' %}
    {%- for producto in orden.productos -%}
    {% if (ultimoTitulo != producto.producto.proveedor.nombre ) %}
        <br />
        <li style="font-weight: bold;font-size: 1.2em;font-family: sans-serif;">
            {{ producto.producto.proveedor.nombre }}
            {% set ultimoTitulo = producto.producto.proveedor.nombre %}
        </li>
    {% endif %}
    <li>
        {{ producto.cantidad }} <span style="font-style: italic">{{ (producto.cantidad > 1) ? producto.unidad.nombrePlural : producto.unidad.nombreSingular }}</span> de {{ producto.producto.nombre }}</p>
    </li>
    {% endfor %}
</ul>