{% extends '::base.html.twig' %}

{% block page_sub_header %}Lista de sucursales{% endblock %}

{% block body -%}
    <p>
        <a  class="btn btn-primary" href="{{ path('sucursales_new') }}">
            Agregar una sucursal
        </a>
    </p>

    <table class="records_list table table-hover table-responsive table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Teléfono</th>
                <th>Dirección</th>
                <th>Activo</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for entity in entities %}
                <tr>
                    <td><a href="{{ path('sucursales_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                    <td>{{ entity.nombre }}</td>
                    <td>{{ entity.telefono }}</td>
                    <td>{{ entity.direccion }}</td>
                    <td>{{ entity.activo ? 'si' : 'no' }}</td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('sucursales_show', { 'id': entity.id }) }}">ver</a>
                            </li>
                            <li>
                                <a href="{{ path('sucursales_edit', { 'id': entity.id }) }}">editar</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
