{% extends '::base.html.twig' %}

{% block page_sub_header %}Compras: lista de productos{% endblock %}

{% block body -%}

    {% if (entities is defined and entities|length == 0) %}
        <div class="alert alert-info" role="alert">
            No hay ningún producto ingresado.
            <a href="{{ path('compras_productos_new') }}">
                Agregar uno
            </a>
        </div>
    {% endif %}
    <p>
        <a class="btn btn-primary" href="{{ path('compras_productos_new') }}">
            Agregar un producto
        </a>
    </p>
    <table class="records_list table table-responsive table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre de producto</th>
                <th>Descripción</th>
                <th>Foto</th>
                <th>Activo</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for entity in entities %}
                <tr>
                    <td><a href="{{ path('compras_productos_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                    <td>{{ entity.nombre }}</td>
                    <td>{{ entity.descripcion }}</td>
                    <td>{{ entity.foto ? 'Si' : 'No' }}</td>
                    <td>{{ entity.activo ? 'Si' : 'No' }}</td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('compras_productos_edit', { 'id': entity.id }) }}">Editar</a> [ <a href="{{ path('compras_productos_edit', { 'id': entity.id }) }}">Foto</a> ]
                            </li>
                            <li>
                                <a href="{{ path('compras_productos_edit', { 'id': entity.id }) }}">Sucursales</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
