{% extends '::base.html.twig' %}

{% block page_sub_header %}Compras: lista de productos{% endblock %}

{% block body -%}

    {% if (entities is defined and entities|length == 0) %}
        <div class="alert alert-info" role="alert">
            No hay ningún producto ingresado.
            <a href="{{ path('compras_productos_new') }}">
                Agregar uno
            </a>
        </div>
    {% endif %}
    
    <table class="records_list table table-responsive table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre de producto</th>
                <th>Descripción</th>
                <th>Activo</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('compras_productos_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.nombre }}</td>
                <td>{{ entity.descripcion }}</td>
                <td>{{ entity.activo ? 'Si' : 'No' }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('compras_productos_show', { 'id': entity.id }) }}">Ver</a>
                    </li>
                    <li>
                        <a href="{{ path('compras_productos_edit', { 'id': entity.id }) }}">Editar</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a class="btn btn-sm btn-primary" href="{{ path('compras_productos_new') }}">
                Agregar un producto
            </a>
        </li>
    </ul>
    {% endblock %}
