{% extends '::base.html.twig' %}

{% block page_sub_header %}Compras: vista de producto{% endblock %}

{% block body -%}
    <table class="record_properties table table-responsive table-condensed">
        <tbody>
            <tr>
                <th>ID</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Nombre de producto</th>
                <td>{{ entity.nombre }}</td>
            </tr>
            <tr>
                <th>Descripción</th>
                <td>{{ entity.descripcion }}</td>
            </tr>
            <tr>
                <th>Activo</th>
                <td>{{ entity.activo ? 'Si' : 'No' }}</td>
            </tr>
            <tr>
                <th>Fecha creado</th>
                <td>{{ entity.creadoDt|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Fecha actualizado</th>
                <td>{{ entity.actualizadoDt|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a class="btn btn-sm btn-info" href="{{ path('compras_productos') }}">
            Regresar a la lista
        </a>
    </li>
    <li>
        <a class="btn btn-sm btn-primary" href="{{ path('compras_productos_edit', { 'id': entity.id }) }}">
            Editar
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
