{% extends '::base.html.twig' %}

{% block page_sub_header %}Lista de empleados{% endblock %}

{% block body -%}
<a class="btn btn-primary" href="{{ path('empleados_new') }}">Crear empleado</a><hr />
    <table class="records_list table table-hover table-responsive table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Usuario</th>
                <th>Nombre</th>
                <th>Email</th>
                <th>Activo</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('empleados_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.usuario }}</td>
                <td>{{ entity.nombre }}</td>
                <td>{{ entity.email }}</td>
                <td>{{ entity.activo }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('empleados_show', { 'id': entity.id }) }}">ver</a>
                    </li>
                    <li>
                        <a href="{{ path('empleados_edit', { 'id': entity.id }) }}">editar</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
